[submodule "external/grounded_sam"]
	path = external/grounded_sam
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "external/anypick_gpd"]
	path = external/anypick_gpd
	url = git@github.com:toyat522/anypick_gpd.git
