[submodule "external/grounded_sam"]
	path = external/grounded_sam
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "external/gpd"]
	path = external/gpd
	url = https://github.com/atenpas/gpd.git
